[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
bcrypt = "==4.0.1"
alembic = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-dotenv = "*"

[dev-packages]
starlette = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.13"
